[submodule "_site"]
	path = _site
	url = git@github.com:yurrriq/exercism.git
	branch = gh-pages
[submodule "clojure"]
	path = clojure
	url = git@github.com:yurrriq/exercism.git
	branch = clojure
[submodule "haskell"]
	path = haskell
	url = git@github.com:yurrriq/exercism.git
	branch = haskell
[submodule "erlang"]
	path = erlang
	url = git@github.com:yurrriq/exercism.git
	branch = erlang
[submodule "elixir"]
	path = elixir
	url = git@github.com:yurrriq/exercism.git
	branch = elixir
[submodule "scheme"]
	path = scheme
	url = git@github.com:yurrriq/exercism.git
	branch = scheme
[submodule "lisp"]
	path = lisp
	url = git@github.com:yurrriq/exercism.git
	branch = lisp
[submodule "ocaml"]
	path = ocaml
	url = git@github.com:yurrriq/exercism.git
	branch = ocaml
[submodule "swift"]
	path = swift
	url = git@github.com:yurrriq/exercism.git
	branch = swift
