[submodule "_site"]
	path = _site
	url = git@github.com:yurrriq/exercism.git
	branch = gh-pages
[submodule "clojure"]
	path = clojure
	url = git@github.com:yurrriq/exercism.git
	branch = clojure
[submodule "haskell"]
	path = haskell
	url = git@github.com:yurrriq/exercism.git
	branch = haskell
[submodule "erlang"]
	path = erlang
	url = git@github.com:yurrriq/exercism.git
	branch = erlang
[submodule "elixir"]
	path = elixir
	url = git@github.com:yurrriq/exercism.git
	branch = elixir
[submodule "scheme"]
	path = scheme
	url = git@github.com:yurrriq/exercism.git
	branch = scheme
[submodule "lisp"]
	path = lisp
	url = git@github.com:yurrriq/exercism.git
	branch = lisp
[submodule "ocaml"]
	path = ocaml
	url = git@github.com:yurrriq/exercism.git
	branch = ocaml
[submodule "swift"]
	path = swift
	url = git@github.com:yurrriq/exercism.git
	branch = swift
[submodule "org"]
	path = org
	url = git@github.com:yurrriq/exercism.git
	branch = org
[submodule "cpp"]
	path = cpp
	url = git@github.com:yurrriq/exercism.git
	branch = cpp
[submodule "csharp"]
	path = csharp
	url = git@github.com:yurrriq/exercism.git
	branch = csharp
[submodule "go"]
	path = go
	url = git@github.com:yurrriq/exercism.git
	branch = go
[submodule "java"]
	path = java
	url = git@github.com:yurrriq/exercism.git
	branch = java
[submodule "javascript"]
	path = javascript
	url = git@github.com:yurrriq/exercism.git
	branch = javascript
[submodule "exercism"]
	path = lfe
	url = git@github.com:yurrriq/exercism.git
	branch = lfe
[submodule "elisp"]
	path = elisp
	url = git@github.com:yurrriq/exercism.git
	branch = elisp
[submodule "lua"]
	path = lua
	url = git@github.com:yurrriq/exercism.git
	branch = lua
[submodule "objective-c"]
	path = objective-c
	url = git@github.com:yurrriq/exercism.git
	branch = objective-c
[submodule "perl5"]
	path = perl5
	url = git@github.com:yurrriq/exercism.git
	branch = perl5
[submodule "plsql"]
	path = plsql
	url = git@github.com:yurrriq/exercism.git
	branch = plsql
[submodule "python"]
	path = python
	url = git@github.com:yurrriq/exercism.git
	branch = python
[submodule "ruby"]
	path = ruby
	url = git@github.com:yurrriq/exercism.git
	branch = ruby
[submodule "rust"]
	path = rust
	url = git@github.com:yurrriq/exercism.git
	branch = rust
